extends layout

block content
   //script(src='/javascripts/myFrameWork.js')
   //script(src='/javascripts/plaza.js')
   for el in data 
     div(class='panel panel-default' style='max-width:600px; margin:0px auto 30px; padding: 10px')
       div(class="panel-heading" style="background-image: none;background-color: white;")
         h3(class="panel-title")= el.name
       div(class='panel-body')
         img(src= el.img style='max-width:100%;margin: 0 0 10px;')
         p= el.description
         span(style='float:right')= el.owner

