@charset "utf-8";
#myFace{
	position:absolute;
	display:flex;
	width: 500px;
	height: 200px;
	left:50%;
	margin-left: -250px;
	top:50%;
	margin-top: -100px;
	background:rgba(128, 128, 128, 0.7);
	z-index:1;
}

#headshot{		
	max-height:100%;
}



#back{
	position: absolute;
	display: none;
	bottom : 1%;
	left: 1%;	
	height: 50px;
}

#panel{
	position: absolute;
	display: flex;
	flex-direction:row;
	height: 100%;
	width: 85%;
	right: -10%;
	top: 0;
	background:white;
	-webkit-box-shadow: -5px 1px 32px -11px rgba(122,60,13,1);
	-moz-box-shadow: -5px 1px 32px -11px rgba(122,60,13,1);
	box-shadow: -5px 1px 32px -11px rgba(122,60,13,1);
	z-index:-1;
	opacity: 0;
	/* background:rgba(179,252,225,1); */
	overflow-y: scroll;
	border-left: rgba(227, 91, 53, 0.78) 20px solid;
	background-image: url('images/panel-background.png');
}

.panel {
	display: block;
	margin:15px;	
	-webkit-box-shadow: 2px 0px 13px -1px rgba(0,0,0,0.54);
	-moz-box-shadow: 2px 0px 13px -1px rgba(0,0,0,0.54);
	box-shadow: 2px 0px 13px -1px rgba(0,0,0,0.54);
}

div#in{
	display: flex;
	flex-direction: column;
	width: 58%;
	/* padding: 0 100px; */
	margin: 0 auto;
}

#form-signin{
	margin: 3%;
}

div.container{
	display :none;
	position: absolute;
	max-width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background:rgba(255, 153, 70,0.9);
}

[type = 'logging']{
	position: fixed;
	right: 1%;
	bottom: 1%;
}
#label-area{	
	display:flex;
	flex-direction: column;
	/* margin:0 auto; */
	padding:0 30px;
	background: rgba(255,255,255,0.5);
	margin: 10px;
	-webkit-box-shadow: 2px 0px 13px -1px rgba(0,0,0,0.54);
	-moz-box-shadow: 2px 0px 13px -1px rgba(0,0,0,0.54);
	box-shadow: 2px 0px 13px -1px rgba(0,0,0,0.54);
}
#labels{
	display: flex;
	max-width: 200px;
	flex-direction:row;
	flex-wrap:wrap;
	height:auto;
}

h1 {
	font-family: Coustard;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color:rgba(55, 210, 156, 1);
}
h3 {
	font-family: Coustard;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Coustard;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Coustard;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Coustard;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

#myPS{
	position:relative;
	width:100%;
}

.flipper{
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin: 5%; */
	/* background-color:rgb(192, 192, 192); */
}

.flipper:hover{
	transition: 0.6s;
	transform:rotateX(180deg);
	transform-style: preserve-3d;	
}

div.front, div.back{
	backface-visibility: hidden;
	position:absolute;
	height: 100%;
	width:100%;
}

div.back {
	transform: rotateX(180deg);
}

div#wrapper{
	height:100%;
	width:80%;
	position:relative;
	
}

.flipper:hover, #back:hover{
	cursor: pointer;
}

body{
	height:100%;
	width:100%;
	background-image: url('images/body-background.png');
}
	

